@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}

.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.text-gray {
    /* dark02 */
    color: #424242;
}

.text-light-gray {
    /* dark03 */
    color: #727272;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}


/* Header styles */
header {
    width: 100%;
}

/* Navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.brand {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.nav-links {
    font-size: 1.2rem;
    line-height: 26px;
    text-align: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related styles */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    width: 100%;
    max-width: 862px;
    max-height: 225px;
    font-weight: 700;
    font-size: 4rem;
    padding-bottom: 30px;
}

.banner-paragraph {
    padding-bottom: 15px;
}

.banner-img {
    width: 100%;
}


/* Teams Sections styles */
.teams {
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    margin-left: 100px;
}

.teams-img-container img {
    width: 100%;
    height: 100%;
    max-width: 342px;
    max-height: 342px;
    border-radius: 8px;
}

.our-features {
    height: 100%;
    width: 100%;
    max-width: 530px;
    max-height: 304px;
    margin-left: 130px;
}

.our-features h3 {
    height: 100%;
    width: 100%;
    max-width: 468px;
    max-height: 106px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 24px;
}

#quick-list {
    color: rgba(114, 114, 114, 1);
}

#of-our {
    color: rgba(19, 19, 19, 1);
    font-weight: bold;
}

#features {
    color: rgba(255, 144, 14, 1);
    font-weight: bold;
}

.our-features p {
    color: rgba(114, 114, 114, 1);
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 32px;
}

/* Our FEatures section */
.features-container {
    width: 100%;
    padding: 0 80px;
    gap: 46px;
}

.features {
    flex-direction: column;
    margin-right: 46px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.features h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-bottom: 20px;
}

.variations {
    color: #727272;
    max-width: 586px;
    margin-bottom: 30px;
}

.cards {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.card {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.card h4 {
    color: rgba(19, 19, 19, 1);
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    color: rgba(114, 114, 114, 1);
    font-weight: 400;
    line-height: 1.5rem;
}


.exp {
    flex-direction: column;
}

.exp img {
    width: 100%;
    max-width: 700px;
}

.btn-exp {
    max-width: 342px;
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -70px;
    margin-top: -100px;
}

#yr-10 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
}


/* Facts related styles */

.facts {
    padding-left: 100px;
}

.section-title {
    font-weight: bold;
    font-size: 2.9rem;
    margin-bottom: 24px;
}

.fact-description {
    max-width: 540px;
    margin-bottom: 100px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px auto;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
}


/* Sponsor related styles */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

}

.sponsor-companies img {
    filter: grayscale(100%);
}

.footer {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: rgba(255, 244, 231, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin: 150px auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}



/* @media-query for responsive */

@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;

    }

    .navbar {
        gap: 20px;
    }

    .nav-links {
        gap: 15px;
        padding: 0;
    }

    .nav-item {
        margin-right: 0;
    }

    .brand {
        font-size: 2rem;
    }

    /* Banner */
    .banner-title {
        font-size: 2.2rem;
    }

    .banner-content {
        padding: 0 10px;
    }

    /* Teams Section */
    .teams-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;

    }

    .teams-img-container img {
        justify-content: center;
    }

    .our-features {
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
    }

    /* Features Style */

    .features-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .features {
        margin-right: 0;
        text-align: center;
    }

    #feature-section-title {
        border-left: none;
    }

    .features h3 {
        font-size: 2rem;
    }

    .variations {
        margin: 0 auto 25px;
    }

    .cards {
        width: 100%;
    }

    .exp {
        flex-direction: column;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    .exp img {
        max-width: 100%;
    }

    .btn-exp {
        margin: 10px auto;
        padding: auto;
    }

    #yr-10 {
        font-size: 2.2rem;
    }

    .section-title {
        text-align: center;
    }

    .fact-description {
        text-align: center;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .facts {
        padding-left: 0;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 24px;
    }

    .footer {
        width: calc(100% - 20px);
        margin: 80px auto 30px;
        padding: 20px;
        font-size: 16px;
        line-height: 22px;
    }

}



/* Media Query for tablet */
@media screen and (min-width:576px) and (max-width:992px) {

    main>section {
        margin-top: 100px;
    }

    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 20px auto;
        text-align: center;
    }

    .our-features h3 {
        margin: 0 auto;
    }

    .teams-img-container {
        margin-left: 0px;
    }


    .features-container {
        flex-direction: column;
        padding: 0 40px;
    }

    .features {
        margin-right: 0;
        text-align: center;
    }


    #feature-section-title {
        border-left: none;
    }

    .variations {
        margin: 0 auto 30px;
    }

    .exp {
        flex-direction: column;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    .btn-exp {
        margin: 10px auto;
    }

    .section-title {
        text-align: center;
    }

    .fact-description {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
    }

    .facts-container {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .facts {
        padding-left: 0;
    }

    .sponsor-companies {
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .footer {
        font-size: 18px;
        line-height: 24px;
        margin: 100px 20px 40px;
        padding: 20px;
    }

}